#userImg {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}

/** 开源信息 **/
.open-source {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.open-source .open-source-aux {
    margin: 0 4px;
}

.layui-side,.layui-body,.layui-footer,.layui-logo,.layui-nav.layui-layout-left {
    transition: .3s all;
}

.layui-side.layui-mobile {
    left: -200px;
}
.layui-body.layui-mobile {
    left: 0;
}
.layui-footer.layui-mobile {
    left: 0;
}
.layui-logo.layui-mobile {
    left: -200px;
}
.layui-nav.layui-layout-left.layui-mobile {
    left: 0px;
}
