.layui-header {
    background-color: #0A0E11 !important;
}

#userImg {
    font-size: 18px;
    font-weight: bold;
    margin-right: 5px;
    vertical-align: middle;
}

/** 开源信息 **/
.open-source {
    font-size: 12px;
    display: flex;
    justify-content: center;
}

.open-source .open-source-aux {
    margin: 0 4px;
}

