.layui-laypage-prev i, .layui-laypage-next i{
    font-size: 12px;
}

.layui-table-link {
    cursor: pointer;
}

.file-info .file-icon {
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: none;
    vertical-align: sub;
}

.file-info .file-share {
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    font-size: 14px;
    display: none;
    float: right;
}

.file-info:hover .file-share {
    display: block;
}

.layui-breadcrumb a {
    color: #303133!important;
}

.search-div {
    display: flex;
    flex-wrap: wrap;
}

.search-div .layui-inline {
    margin-right: 15px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.search-div .layui-input {
    display: inline-block;
    width: 180px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    font-size: 12px;
}