.favoritesList {
    display: flex;
    flex-wrap: wrap;
}

.favorites {
    position: relative;
    overflow: hidden;
    color: #606266;
    margin: 0 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    padding: 30px 26px 20px;
    background: #fff;
    box-shadow: 0 2px 12px 0 rgb(0 0 0 / 10%);
    border: 1px solid #EBEEF5;
}

.favorites .favorites-info {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.favorites-info .bg {
    width: 40px;
    margin-right: 10px;
}

.favorites-info .bg img {
    width: 100%;
    height: 100%;
    border: 0;
}

.favorites-info .title {
    width: 160px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 0.95rem;
    margin-right: 10px;
}

.favorites .other-info {
    display: flex;
    justify-content: space-between;
}

.other-info .layui-icon {
    margin-right: 5px;
}

.layui-icon-username {
    color: #ff5722;
}

.layui-icon-star-fill {
    color: #ffb800;
}

.notFoundDiv {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.notFoundDiv img {
    width: 100px;
}

.notFoundDiv span{
    color: #333;
    margin: 20px 0;
}

em {
    font-style: normal;
}

.user em {
    width: 80px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.user, .support {
    display: flex;
    align-items: center;
}

.search-input {
    z-index: 999;
    position: absolute;
    top: 17px;
    left: 80px;
    width: 180px;
    height: 30px;
}

.search-input input {
    height: 100%;
    font-size: 12px;
    border: none;
    background-color: #161a1d;
    color: #b2b2b2;
    padding-left: 26px;
    padding-right: 26px;
}

.search-input .search-close {
    position: absolute;
    top: 4px;
    right: 4px;
    font-size: 20px;
    color: #666;
    display: none;
    cursor: pointer;
}

.search-input .search-icon {
    position: absolute;
    top: 8px;
    left: 6px;
    font-size: 14px;
    color: #999;
    cursor: pointer;
}

.click-count {
    background: #5fb878;
    color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    right: -115px;
    font-size: 12px;
    width: 100%;
    text-align: center;
    padding: 2px 0;
    font-weight: bold;
}
.click-count .layui-icon {
    font-size: 12px !important;
    margin-right: 4px;
}